* {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.welcome_container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header header"
        "text main main"
        "login main main"
        "register main main"
        "footer footer footer";
    gap: 20px;
    padding: 10px;
}

.index_container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header header"
        "title title title"
        "content content content"
        "create create create"
        "footer footer footer";
    gap: 20px;
    padding: 10px;
}

.auth_container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header header"
        "title title title"
        "icon form form"
        "footer footer footer";
    gap: 20px;
    padding: 10px;
}

.profile_container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header header"
        "title title title"
        "main main main"
        "footer footer footer";
    gap: 20px;
    padding: 10px;

}

.create_container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header header"
        "title title title"
        "form form form"
        "footer footer footer";
    gap: 20px;
    padding: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 75px;
    background: #3EB489;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    grid-area: header;
}

.logo {
    font-size: 50px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
}

.navbar a:hover::before {
    width: 100%;
    transition: 0.5s;
}

.texting_container {
    display: inline-block
}

.texting {
    font-size: 30px;
    padding-top: 100px;
    grid-area: text;
    border-right: 5px solid black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(16),
        cursor .5s step-end infinite;
}   

@keyframes cursor {
    50% { border-color: transparent; }

}

@keyframes typing {
    from { width: 0; }
}

.icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main {
    grid-area: main;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 100px;
    grid-area: title;
}

.login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    grid-area: register;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vl {
    border-radius: 15px;
    border-top: 2px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    border-left: 2px solid black;
    height: auto;
    padding: 20px;
    margin: 20px;
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create {
    grid-area: create;
    display: flex;
    justify-content: center;
    align-items: center;
}

